.animate__shakeY:hover {
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.animate__heartbeat:hover {
  animation: heartBeat; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

.animate__jello:hover {
  animation: jello; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
}

@keyframes marquee {
  100% {
    top: 50em;
    opacity: 0%;
  }
  0% {
    opacity: 100%;
  }
}

@-webkit-keyframes marquee {
  100% {
    top: 50em;
    opacity: 0%;
  }
  0% {
    opacity: 100%;
  }
}
