<style>

body{
	/*background: rgb(252, 252, 252);*/
}

.posts{
	margin: 20px;	
}

.logo{
	margin: 40px 10px 10px 10px;
}

.music-block{
	float: left;
	margin: 10px;
	position: relative;
	background: rgb(230, 46, 120);
	width: 225px;
	height: 225px;	
	-webkit-transition: background-color 1s ease 1.5s;
	-moz-transition: background-color 1s ease 1.5s;
	-o-transition: background-color 1s ease 1.5s;
	transition: background-color 1s ease 1.5s;
	
}

.album-cover-wrapper{
	padding-left: 12px;
	padding-top: 12px;
}

.album-cover-wrapper img{
	overflow: hidden;
	border-radius: 200px;
	pointer-events: none;
}

.music-block:hover{
	background: rgba(230, 46, 120, .6);
	-webkit-transition: background-color .5s ease;
	-moz-transition: background-color .5s ease;
	-o-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

.music-block .player{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	height: 0px;
	width:100%;
	background: rgba(230, 46, 120, .4);
	-webkit-transition: all 1s ease 1s;
	-moz-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}

.music-block .review{
	overflow: hidden;
	position: absolute;
	bottom: 0;
	height: 0px;
	width:100%;
	background: rgba(230, 46, 120, .6);
	-webkit-transition: all 1s ease .5s;
	-moz-transition: all 1s ease .5s;
	-o-transition: all 1s ease .5s;
	transition: all 1s ease .5s;
}	

.music-block .song-info{
	overflow: hidden;
	position: absolute;
	bottom: 0;	
	height: 0px;
	width:100%;
	background: rgba(230, 46, 120, 1);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.music-block:hover .player{
	height: 90px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.music-block:hover .review{
	height: 65px;
	-webkit-transition: all 1s ease .5s;
	-moz-transition: all 1s ease .5s;
	-o-transition: all 1s ease .5s;
	transition: all 1s ease .5s;
}

.music-block:hover .song-info{
	height: 40px;
	-webkit-transition: all 1s ease 1s;
	-moz-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}
