html, body{
 	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
	margin: 0 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	font-family: 'Ubuntu Mono';
	font-size: 18px;
}

#about a{
    	text-decoration: none;
	color: #19191F;
}

#about a:hover{
	color:#E6B85C;
}

#content{
	color: #19191F;
	background-image: url("DSC_0110.jpg");
	background-size: cover;
	background-position: -100px 0px 0px 0px;
	min-height: 100%;
  	height: auto;
}

#about p,a,h1{
	-moz-transition: all .4s ease-in;
    	-o-transition: all .4s ease-in;
    	-webkit-transition: all .4s ease-in;
    	transition: all .4s ease-in;
}

#name{	
	font-size: 34px;
}

#name:hover{
	color:#E6B85C;
}

#about{
	position: absolute;
	width: 550px;
	left: 5%;
	top: 1%;
}

#sub{
	margin-top: -17.5px;
}

#credit{
	position: absolute;
	bottom: 0%;
	right: 1%;
}

#credit a{
	text-decoration: none;
	color:#FFFFE6;
	-moz-transition: all .4s ease-in;
    	-o-transition: all .4s ease-in;
    	-webkit-transition: all .4s ease-in;
    	transition: all .4s ease-in;
}

#credit a:hover{
	color:#E6B85C;
}

@media (max-width: 800px) {
  #name{
	font-size: 26px;
  }

  #about{
	margin-left: 0;	
	top: 0%;
	left: 5%;
	width: 90%;
	font-size: 14px;
  }

  #credit{
	font-size: 14px;
  }
}