@media screen and (max-width: 1000px) {
  .photo-1__hover {
    left: -16px;
  }
}

@media screen and (max-width: 750px) {
  .left-100 {
    left: 0;
  }
  
  .left-neg-100 {
    left: 0;
  }

  .main__photographs {
    padding: 0;
  }

  .photo-1 {
    top: 0;
    width: auto;
  }

  .photo-1 img {
    top: 0;
    left: 0;
    width: auto;
  }

  .main__photographs-anination-box--green {
    width: auto;
  }

  .photo-3 {
    display: none;
  }

  .photo-4 {
    display: none;
  }

  .photo-2-circle-home {
    margin-top: -150px;
  }

  .main__sub .photo-2 {
    display: none;
    visibility: hidden;
  }

  .main__content {
    top: 0;
  }

  .main__navigation li a {
    margin: 0 auto;
  }

  .main__heading {
    position: relative;
    padding: 16px;
    margin-left: 0;
    top: 50%;
    margin-top: 25px;
    text-align: center;
    width: 100%;
    left: -16px;
  }

  .photo-2__hover {
    margin-top: 210px;
  }
}
