.main__photographs {
  border-radius: 1px;
  position: absolute;
  overflow: hidden;
}

.photo-padding {
  padding: 16px;
}

.main__photographs img {
  max-width: 100%;
  position: relative;
}

.photo-1 {
  height: 200px;
  width: 800px;
}

.photo-1__hover {
  position: relative;
  top: -8px;
  margin: 0 auto;
}

.photo-1__hover:hover {
  background: url(../images/1.jpg) no-repeat center center fixed;
  background-size: cover;
}

.photo-1 img {
  top: -180px;
}

.photo-2 {
  height: 300px;
  width: 400px;
}

.photo-2__hover {
  top: 50%;
  margin-top: 350px;
  left: 50%;
  margin-left: -200px;
}

.photo-2__hover:hover {
  background: url(../images/2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.photo-2 img {
  top: 0;
}

.photo-3 {
  height: 500px;
  width: 300px;
}

.photo-3__hover {
  top: 50%;
  margin-top: 25px;
  left: 50%;
  margin-left: -575px;
}

.photo-3__hover:hover {
  background: url(../images/3.jpg) no-repeat center center fixed;
  background-size: cover;
}

.photo-3 img {
  max-height: 100%;
  max-width: unset;
  position: relative;
  left: -115px;
}

.photo-4 {
  height: 300px;
  width: 300px;
}

.photo-4__hover {
  top: 50%;
  margin-top: 150px;
  left: 50%;
  margin-left: 275px;
}

.photo-4__hover:hover {
  background: url(../images/4.jpg) no-repeat center center fixed;
  background-size: cover;
}

.photo-5 {
  height: 200px;
  width: 800px;
  position: absolute;
  z-index: -1;
  bottom: 1245px;
}

.photo-5:hover {
  background: url(../images/5.jpg) no-repeat center center fixed;
  background-size: cover;
}

.photo-5 img {
  top: -270px;
}

.photo-2-circle {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-top: 30px;
  z-index: 2;
  margin-left: -75px;
}

.photo-2-circle img {
  border-radius: 50%;
}