html, body{
 	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
	margin: 0 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
	font-family: 'Ubuntu Mono';
	font-size: 18px;
}

.about a, .projects a{
    	text-decoration: none;
	color:#E6B85C;
	font-weight: bold;
}

.about a:hover, .projects a:hover{
	color: #19191F;
}

.about h1 a{
    	text-decoration: none;
	color: #19191F;
	font-weight: bold;
}

.about h1 a:hover{
    	text-decoration: none;
	color:#E6B85C;
	font-weight: bold;
}

.content{
	color: #19191F;
	background-image: url("DSC_0110.jpg");
	background-size: cover;
	background-position: -100px 0px 0px 0px;
	min-height: 100%;
  	height: auto;
}

p,a,h1{
	-moz-transition: all .3s ease-in;
    	-o-transition: all .3s ease-in;
    	-webkit-transition: all .3s ease-in;
    	transition: all .3s ease-in;
}

.about{
	position: absolute;
	width: 550px;
	left: 3%;
	top: 1%;
	line-height: 30px;
}

.links{
	line-height: 10px;
}

.sub{
	margin-top: -17.5px;
}

.credit{
	position: absolute;
	bottom: 0%;
	right: 1%;
}

.credit a{
	text-decoration: none;
	color:#FFFFE6;
	-moz-transition: all .3s ease-in;
    	-o-transition: all .3s ease-in;
    	-webkit-transition: all .3s ease-in;
    	transition: all .3s ease-in;
}

.credit a:hover{
	color:#E6B85C;
}

.name{	
	font-size: 34px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 1%;
  width: auto;
  height: auto;
  background: white;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev {
  border-radius: 50px;
  margin-left: -25px;
}

a.control_next {
  right: 0;
  margin-right: -25px;
  border-radius: 50px;
}

.projects
{
	background: rgba(255,255,255,.5);
	min-width: 92%;
	position: absolute;
	margin-top: 150px;
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 4px;
	padding: 10px;
}  

.projects ul li
{
	list-style-type: none;
	
}

.img-container
{
	background: white;
	border-radius: 3px;
	float: left;
	margin-bottom: 1%;
	margin-right: 2%;
	margin-left: 3%;
	display: inline-block;
	width: 39%;
	height: 100px;
	padding: 20px;	
	overflow: hidden;	
}

#critit
{
	width: 40%;
	margin-left:28%;
	margin-top: 30px;
}

#mango 
{
	width: 45%;
	margin-top: 15px;
	margin-left:28%;
}

#oasis
{
	width: 20%;
	margin-left:40%;
	margin-top: -5px;
}

#united
{
	margin-left:23%;
	width: 55%;
	margin-top: -10px;
}

#persi
{
	margin-left:23%;
	width: 55%;
	margin-top: -15px;
}

@media (max-width: 900px) 
{
  .name{
	font-size: 26px;
  }

  .about{
	margin-left: 0;	
	top: 0%;
	left: 5%;
	width: 90%;
	font-size: 14px;
	line-height: 20px;
  }

  .img-container
  {
	padding-left: 0px;
  }

  .projects ul li div
  {
	width: 92%;
  }

  .credit
  {
	font-size: 14px;
  }
}