html {
  background-color: #f7f7f7;
}

h1 span {
  display: block;
}

.left-100 {
  left: 100px;
}

.left-neg-100 {
  left: -150px;
}

.no-transition {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

.bubble {
  border: 2px solid #2b2b2b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: block;
  transition: border 100ms ease-in;
}

.bubble:hover {
  border: 2px solid #0F9D58;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.exit-left {
  margin-left: -800px !important;
  transition: margin-left 4s;
}

.exit-right {
  margin-left: 500px !important;
  transition: margin-left 4s;
}

.exit-bottom {
  margin-top: 600px !important;
  transition: margin-top 4s;
}

.overflow-hidden {
  overflow: hidden;
}

.top {
  top: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.green {
  color: #0F9D58;
}