html 
{
  	font-size: 100%;
 	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}

body
{
	margin: 0 0;
	padding: 0;
	overflow:hidden;
	background-color: #FAF7E8;
}

a
{
    	text-decoration: none;
    	color:black;
}

ul 
{
    	list-style-type: none;
    	margin-left:-41px;
}

li 
{
    	display: block;
    	padding: 10px;
    
}

canvas{
	clear:both;
	padding-left: 0;
    	padding-right: 0;
    	margin-left: auto;
    	margin-right: auto;
    	display: block;
    	width: 100%;
}

.text
{
    	color: black;
	font-size:14px;
	font-family: "Josefin Sans", sans-serif;
}

.bar
{
	position:fixed;
	z-index:5;
    	background: white;
    	height: 16%;
    	width:100%;
    
}

.header
{
	width: 60%;
	height: 40px;
	padding-top: 15px;
    	color: black;
    	font-size:25px;
    	font-family: "Homemade Apple", cursive;
    	text-align:center;
    	margin: auto;
}

.links
{
   	width: 60%;
   	margin: auto;
    	margin-top: -5px;
    	text-align: center;
}

#footer{
    	position: fixed;
	z-index:5;
    	top:97%;
    	width:100%;
    	height: 3%;
    	background-color: #FFE8B6; 
}

.beehive {
  	float:left;
	margin-left:20%;
	margin-top:-2%;
	z-index:0;
}


.beehive2 {
  	float:right;
  	margin-top:5%;
	margin-right:20%;
	z-index:0;
}

#about{
    float:left;   
    width:590px;
    margin-left:30px;
}

.white_content {
    text-align: left;
    font-size:15px;
    display: none;
    position: fixed;
    top: 50%;
    left: 35%;
    width: 650px;
    height: 280px;
    padding: 10px;
    background-color: white;
    margin: -125px 0 0 -125px;
    overflow: auto;
    opacity: .75;
    z-index:10;  
    font-family: "Dosis";
}

#x{
    float:right;   
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 100%;
	background: #FFE8B6;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
li 
{
    	padding: 4px;  
} 

.links
{
    	font-size: 20px;   
}

.header
{
    	font-size: 15px;   
}

canvas
{
	visibility: hidden;
	display: none;
}

.bar
{
    	height: 100%;
}    

.beehive
{
	visibility: hidden;
	display: none;
}

.beehive2
{
	visibility: hidden;
	display: none;
}  