body
{
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #FFFEF5;
;
	
}

a{
    text-decoration: none;
    color:black;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 15px;
}

.text
{
    color: black;
	font-size:14px;
	font-family: "Josefin Sans", sans-serif;
}

#footer{
    position: fixed;
    top:97%;
    width:100%;
    height: 3%;
    background-color: #FFE8B6; 
}

.nav-container{
    position: fixed;
    background: white;
    height: 17%;
    width:100%;
}

.header
{
    position: absolute;
    z-index: 3;
	width: 270px;
	height: 40px;
	left: 43%;
    top: 15%;
    margin: 0 auto;
}

.navbar
{
	position: absolute;
	z-index: 3;
	width:310px;
	height: 40px;
	left: 38.5%;
    top: 35%;
	margin: 0 auto;
}

#name
{
   	font-family: "Homemade Apple", cursive;
    color: black;
    font-size:25px;
}

.underline {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}

.underline:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.underline:hover:after {
	width: 100%;
	background: #FFE8B6;
}