
html
{
    	height: 100%;
}

body
{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	color:21201B; 
	background-color:#FFF8E7;	
	overflow:hidden;
}

.header
{
	position:absolute;
	text-align:center;
	z-index:2;
	left:0;
    	right:0;
    	top:25%;
    	margin-left:auto;
    	margin-right:auto;
}

.archer
{
	position:absolute;
	z-index:2;
	left:55%;
	top:-5%;
	opacity:70;
}

canvas
{
	position:absolute;
	z-index:3;
	left:0;
	top:0;	
}

a{
    	text-decoration: none;
    	color:white;
}

a:hover
{
    	color:gray;
}


h1{
   	font-family: 'Homemade Apple', cursive;
	color: #807EB2;
	font-size: 35px;
	margin-bottom:-30px;
}

p{
	font-size: 30px;
}

.greetings{
	margin-bottom:-50px;
}

#cursor{
    	opacity: 1;
    	-webkit-animation: blink 0.7s infinite;
    	-moz-animation: blink 0.7s infinite;
    	animation: blink 0.7s infinite;
}

@keyframes blink{
    	0% { opacity:1; }
    	50% { opacity:0; }
    	100% { opacity:1; }
}

@-webkit-keyframes blink{
    	0% { opacity:1; }
    	50% { opacity:0; }
    	100% { opacity:1; }
}

@-moz-keyframes blink{
    	0% { opacity:1; }
    	50% { opacity:0; }
    	100% { opacity:1; }
}
