@font-face{
	font-family: Bebas;
	src: url('BebasNeue.otf');
}

html {
    height: 100%;
}

body{
	font-family:Bebas, sans-serif;
	height: 100%;
	margin: 20px
	color:white; 
	text-align:center;
	background: radial-gradient(ellipse at center, #4d4958 0%,#4d4958 10%,#100f13 100%);
	background-repeat: no-repeat;
}
	
h2{
    font-size: 65px;
    line-height:20px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:gray;
}

div{
    text-align:left;
}

#navlist{
    text-align:right;
}