html{
	height: 100%;
	background-image:-webkit-linear-gradient(top, #001524 30%, #03243c, #002642 10%, #313763 95%, #30c978 150%);
	z-index:1
}

body{
	font-family: 'Amatic SC', cursive;
	height: 100%;
	width: 100%;
	color:white; 
	text-align:center;
	position: absolute;
	z-index: 2;
}

canvas
{
 	width: 100%;
  	height: 100%;
  	margin: 0 auto;
	z-index: 0;
}

a{
	font-size: 30px;
    	text-decoration: none;
    	color:white;
}

a:hover{
    	color:gray;
}

#navlist{
    	text-align:right;
}

#header{
	font-size: 100px;	
}

#subheader{
	font-size: 50px;
}
