@font-face{
	font-family: Bebas;
	src: url('BebasNeue.otf');
}
@font-face{
	font-family: Tusj;
	src: url(‘FFF_Tusj.tff’);
}
@font-face{
	font-family: launica;
	src: url(‘launica.tff’);
}
@font-face{
	font-family: argh;
	src: url(‘Aaargh.tff’);
}
html {
    height: 100%;
}

body{
	font-family:argh, sans-serif;
	height: 100%;
	margin: 20px
	color:white; 
	background: linear-gradient(#1c242f, #00b752);
	background-repeat: no-repeat;
}
	
h2{
    font-size: 65px;
    line-height:20px;
    text-align: center;
    font-family:launica;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:gray;
}

div{
    text-align:left;
}
#navlist{
    text-align:right;
}