  * {
    font-family: "Avenir Next"
  }
 
  a, h1, h3, h4 {
    text-transform: uppercase;
  }

  h1, h3, h4, h5{
    margin: 0;
  }

  h1, h3, h4{
    font-weight: 400;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h1{
    font-size: 36px;
  }

  h3{
    color: #2E6AC3;
  }

  h5 {
    font-weight: 600;
    font-size: 20px;
  }

  .center {
    text-align: center;
  }

  .blue {
    color: #2E6AC3;
  }

  .container {
     /*min-width: 940px;*/
     padding: 0 75px;
     margin: 0 auto;
  }
 
  /* Nav Style */

  .header {
    padding-bottom: 35px;
  }

  .header nav img {
    position: relative;
    top: 40px;
  }

  .header ul {
    display: inline;
    margin: 0;
  }

  .header ul li {
    display: inline-block;
  }

  .header ul li a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .header .main-nav {
    position: relative;
    top: 30px;
  }

  .header .main-nav li {
    padding: 15px;
  }

  .header .right-nav {
    position: absolute;
    right: 75px;
    top: 0;
  }

  .header .right-nav ul {
    display: block;
    margin-bottom: 20px;
  }

  .header .right-nav ul li {
    padding: 25px 10px 5px 10px;
  }

  .header .right-nav ul li a {
    font-size: 18px;
  }

  .header .right-nav ul li a {
    color: #2E6AC3;
  }

  .header .right-nav ul li:nth-child(2) {
    background: #2E6AC3;
  }

  .header .right-nav ul li:nth-child(2) a {
    color: #fff;
  }

  .header .right-nav input {
    float: right;
    width: 225px;
    height: 30px;
    border: 1px solid #2E6AC3;
  }

  /* Jumbotron */

  .jumbotron {
    background: url(../assets/chip.png) no-repeat center center; 
    height: 400px;
  }

  .jumbotron-info {
    height: 400px;
    width: 525px;
    background: rgba(255,255,255,.7);
    padding: 75px;
  }

  .jumbotron-info p, .jumbotron-info h1, .jumbotron-info a{
    display: inline-block;
  }

  .jumbotron-info a, .jumbotron-info p {
    font-size: 20px;
  }

  .jumbotron-info a{
    color: #2E6AC3;
    text-decoration: none;
  }
  
  /* Services */

  .services {
    padding: 75px;
  }

  .services .info {
    width: 500px;
  }

  .all {
    text-align: center;
    margin-left: -50px;
  }

  .services-info { 
    display: inline-block;
    margin: 50px 0 0 50px;
    width: 350px;
    height: 360px;
    background: #F8F9FB;
    border-radius: 3px;

  }

  .services-info img{ 
    margin: 0;
  }

  .services-info .details {
    padding: 30px;
  }

  .services-info p {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: left;
  }
  .services-info a {
    padding: 10px 20px;
    background: #2E6AC3;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }  

  /* About */
  .about {
    padding: 75px;
    padding-bottom: 200px;
    background: #F8F9FB;
  }

  .about h3 {
    margin-bottom: 50px;
  }

  .about p {
    display: inline-block;
    font-size: 20px;
  }

  .row {
    clear: both;
  }

  .col-1 {
    float: left;
    width: 360px;
  }

  .col-2 {
    float: left;
    max-width: 800px;
  }
 
  .about a {
    display: inline-block;
    color: #2E6AC3;
    text-decoration: none;
    border: 1px solid #2E6AC3;
    border-radius: 4px;
    padding: 10px 20px; 
  }
  
  .about .row .more p {
     margin: 20px;
  }

  /* Footer */

  .footer ul {
    float: left;
    list-style-type: none;
    margin: 50px 0;
    padding: 0;
  }

  .footer .links ul {
    margin: 50px 35px;
  }
  
  .footer .links ul li {
    font-size: 18px;
  }

  @media (max-width:900px) {
    .footer ul {
      float: none;
    }

    .footer .links ul {
      margin: 50px 0;
    }
  } 

  @media (max-device-width:900px) {
    .services h1, .about h1 {
      font-size: 12px;
    }
  
    .services h3, .about h3 {
      font-size: 8px;
    }

    .col-1 {
      width: 100%;
    } 
 
    .col-1 p, .more a {
      font-size: 20px;
    }

    .col-2 p {
      font-size: 12px;
    }

    h5 {
      font-size: 9px;
    } 
  
    .footer ul {
      float: none;
    }

    .footer .links ul {
      margin: 50px 0;
    }

    .footer p {
      font-size: 7px;
    }

    .footer .links ul li {
      font-size: 8px;
    }
  } 
